# === OS ===
.DS_Store
Thumbs.db

# === IDE ===
.idea/
*.iml
out/
.vscode/
bin/

# === Gradle ===
.gradle/
build/
qa/

# === Java ===
*.class

# === Logs ===
*.log

# === Secrets / env ===
.env
*.pem
*.key