server:
  port: 8080

spring:
  application:
    name: project-si-api
  datasource:
    url: jdbc:mysql://localhost:3307/project_si_db?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=Europe/Paris
    username: project_user
    password: project_pass
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
    org.springframework.orm.jpa: info
    org.springframework.transaction: info
